openapi: "3.0.0"
info:
  title: Headers Object
  version: "1.0.0"
servers:
  - url: https://api.uber.com/v1
  
paths: 

  /pets:
    get:
      summary: Read
      description: Provide details for the entire list (for collection resources) or an item (for object resources)
      responses:
        '200':
          description: A simple string response
          content:
            text/plain:
              schema:
                type: string
              example: 'whoa!'
          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              schema:
                type: integer
            X-Rate-Limit-Reset:
              #KZOE-template name="header in response", value="header"
              $ref: "#/components/headers/X-Rate-Limit-Reset"   

components: 
  headers:
  
    refed:
      #KZOE-template name="header in components/headers", value="header"
      $ref: "#/components/headers/X-Rate-Limit-Reset"

    X-Rate-Limit-Reset:
      description: The number of seconds left in the current period
      schema:
        type: integer         
    
  links:
    UserRepositories:
      operationId: getRepositoriesByOwner
      headers:
        X-Rate-Limit-Reset:
          #KZOE-template name="header in links", value="header"
          $ref: "#/components/headers/X-Rate-Limit-Reset"
 