<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.reprezen.swagedit"
            name="%category.name">
      </category>
      <wizard
            category="com.reprezen.swagedit"
            class="com.reprezen.swagedit.wizards.SwagEditNewWizard"
            icon="icons/swagger_32.png"
            id="com.reprezen.swagedit.wizards.SwagEditNewWizard"
            name="%wizard.name">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.reprezen.swagedit.editor.SwaggerEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            filenames="yaml"
            icon="icons/swagger_16.png"
            id="com.reprezen.swagedit.editor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="com.reprezen.swagedit.contenttype.swagger.yaml">
         </contentTypeBinding>
      </editor>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            describer="com.reprezen.swagedit.editor.SwaggerContentDescriber"
            file-extensions="yaml"
            id="com.reprezen.swagedit.contenttype.swagger.yaml"
            name="%content-type.name"
            priority="high">
         <describer
               class="com.reprezen.swagedit.editor.SwaggerContentDescriber">
         </describer>
      </content-type>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.reprezen.swagedit.preferences.SwaggerPreferencePage"
            id="com.reprezen.swagedit.preferences"
            name="%preferences.page.name">
      </page>
      <page
            category="com.reprezen.swagedit.preferences"
            class="com.reprezen.swagedit.preferences.SwaggerColorPreferences"
            id="com.reprezen.swagedit.preferences.SwaggerColorPreferences"
            name="%preferences.page.colors.name">
      </page>
      <page
            category="com.reprezen.swagedit.preferences"
            class="com.reprezen.swagedit.preferences.SwaggerTemplatePreferences"
            id="com.reprezen.swagedit.preferences.SwaggerTemplatePreferences"
            name="%preferences.page.templates.name">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.reprezen.swagedit.templates.RootContextType"
            id="com.reprezen.swagedit.templates.swagger.root"
            name="Swagger Context">
      </contextType>
      <contextType
            class="com.reprezen.swagedit.templates.PathContextType"
            id="com.reprezen.swagedit.templates.swagger.path"
            name="Path Context">
      </contextType>
      <include file="resources/templates.xml"></include>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.reprezen.swagedit.preferences.SwaggerPreferenceInitializer">
      </initializer>
   </extension>

   <extension point="com.github.eclipsecolortheme.mapper">
       <mapper
           class="com.github.eclipsecolortheme.mapper.GenericMapper"
           name="SwagEdit"
           pluginId="com.reprezen.swagedit"
           xml="resources/com.reprezen.swagedit.xml">
           </mapper>
    </extension>

</plugin>
