<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.reprezen.swagedit.validator" name="com.reprezen.swagedit.validator" schema="schema/com.reprezen.swagedit.validator.exsd"/>
   <extension-point id="com.reprezen.swagedit.preferences" name="com.reprezen.swagedit.preferences" schema="schema/com.reprezen.swagedit.preferences.exsd"/>
   <extension-point id="com.reprezen.swagedit.quickfix" name="com.reprezen.swagedit.quickfix" schema="schema/com.reprezen.swagedit.quickfix.exsd"/>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.reprezen.swagedit.core.handlers.OpenQuickOutlineHandler"
            commandId="com.reprezen.swagedit.core.commands.quickoutline">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Open Quick Outline"
            id="com.reprezen.swagedit.core.commands.quickoutline"
            name="Open Quick Outline">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+O"
            commandId="com.reprezen.swagedit.core.commands.quickoutline"
            contextId="com.reprezen.swagedit.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Context for KaiZen Editor"
            id="com.reprezen.swagedit.context"
            name="KaiZen Editor"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   
   <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="org.eclipse.core.resources.problemmarker"
         class="com.reprezen.swagedit.core.quickfix.QuickFixer"/>
   </extension>
   <extension
         point="com.reprezen.swagedit.quickfix">
      <generator
            class="com.reprezen.swagedit.core.quickfix.QuickFixer">
      </generator>
   </extension>

</plugin>
