<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde?><target name="com.reprezen.swagedit.target" sequenceNumber="1558342631">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180330-0640"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.12.0.v20170519-1412"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.12.0.v20170519-1412"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
      <repository location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="4.7.3.v20180330-0640"/>
      <unit id="org.eclipse.sdk.ide" version="4.7.3.M20180330-0640"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
      <unit id="com.github.eclipsecolortheme.feature.feature.group" version="0.0.0"/>
      <repository location="http://eclipse-color-theme.github.io/update/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
      <unit id="org.dadacoalition.yedit.feature.feature.group" version="0.0.0"/>
      <repository location="http://products-internal.reprezen.com/yedit/1.0.20"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
      <unit id="org.yaml.snakeyaml" version="1.23.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.0"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.8"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.9.8"/>
      <unit id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml" version="2.9.8"/>
      <unit id="com.reprezen.jsonoverlay" version="4.0.3"/>
      <unit id="com.reprezen.kaizen.openapi-parser" version="4.0.3"/>
      <unit id="com.github.javaparser.javaparser-core" version="3.5.7"/>
      <unit id="com.sun.mail.javax.mail" version="1.6.1"/>
      <unit id="javax.activation" version="1.1.0"/>
      <unit id="javax.mail-api" version="1.6.1"/>
      <unit id="org.apache.commons.cli" version="1.4.0"/>
      <repository location="http://products-internal.reprezen.com/kaizen/openapi-parser/updates/4.0.3"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180330011457/repository"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>