<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde?>
<target name="com.reprezen.swagedit.target" sequenceNumber="1558342633">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.xtend.sdk.feature.group" version="2.12.0.v20170519-1412"/>
            <unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
            <unit id="org.eclipse.xtext.sdk.feature.group" version="2.12.0.v20170519-1412"/>
            <repository location="http://download.eclipse.org/releases/oxygen"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
            <unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
            <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
            <unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>            
            <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
            <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
            <unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
            <unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
            <unit id="org.hamcrest.library.source" version="1.3.0.v201505072020"/>
            <unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
            <unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
            <unit id="org.mockito" version="1.9.5.v201605172210"/>
            <unit id="org.mockito.source" version="1.9.5.v201605172210"/>
            <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170516192513/repository"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.rcp.feature.group" version="4.7.3.v20180330-0640"/>
            <unit id="org.eclipse.sdk.ide" version="4.7.3.M20180330-0640"/>
            <repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="com.github.eclipsecolortheme.feature.feature.group" version="0.0.0"/>
            <repository location="http://eclipse-color-theme.github.io/update/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.dadacoalition.yedit.feature.feature.group" version="0.0.0"/>
            <repository location="http://products-internal.reprezen.com/yedit/1.0.20"/>
        </location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
